.detailsHeader{
    grid-row-start: upperLeft;
    grid-column-start: upperLeft;
    grid-row-end: upperRight;
    grid-column-end: upperRight;
    height: 8rem;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 5vh;
}