.welcomeHeader{
    grid-row-start: upperLeft;
    grid-column-start: upperLeft;
    grid-row-end: upperRight;
    grid-column-end: upperRight;
    height: 16rem;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 5vh;
}
.nurseWelcome{
    grid-row-start: midlleLeft;
    grid-column-start: middleLeft;
    grid-row-end: downMiddle;
    grid-column-end: downMiddle;
    height: 30rem;
    position: absolute;
    bottom: 0;
}