.buttonCon{
    grid-area: downMiddle;
    padding-top: 2.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.buttonIcon{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    z-index: 1;
    visibility: hidden;
}
.qrCode{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #FFFFFF;
    transform: scaley(-1);
    z-index: 1;
    visibility: hidden;
}
.buttonIconDisabled{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    opacity: 35%;
}
.buttonBg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    box-shadow: 2px 2px 0 2px #223944;
}
.button{
    position: absolute;
    z-index: 2;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem 10rem 10rem 10rem;
    opacity: 0;
}
