
/************************ Header-Objects ***********************/
/** which differs, therefore not included in header component **/
.mainHeader{
    grid-row-start: upperLeft;
    grid-column-start: upperLeft;
    grid-row-end: upperRight;
    grid-column-end: upperRight;
    height: 16rem;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 5vh;
}

.h2Cont{
    display: flex;
    grid-row-start: upperLeft;
    grid-column-start: upperLeft;
    grid-row-end: upperMiddle;
    grid-column-end: upperMiddle;
    align-items: flex-end;
    padding-left: 1.5rem;
    width: 33vw;
}
.h2{
    font-size: 1.5rem;
    color: #223944;
    font-style: normal;
    line-height: 120%;
}
.h2Highligth{
    font-size: 1.6rem;
    color: #DF4807;
}
/************************ /Header-Objects ***********************/



/************************ Middle-Content ***********************/
.middleCont{
    grid-row-start: middleLeft;
    grid-column-start: middleLeft;
    grid-row-end: middleRight;
    grid-column-end: middleRight;
    display: flex;
    flex-direction: column;
}
.nurse{
    align-self: flex-start;
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;
    margin-left: 1rem;
    z-index: -1;
}



/************************ Input-Field ***********************/
*:focus{
    outline: none;
}
.patientNumberForm{
    grid-column-start: middleLeft;
    grid-row-start: middleLeft;
    grid-column-end: middleRight;
    grid-row-end: middleLeft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: solid #FFFFFF;
    box-shadow: 4px 4px 0 4px #223944;
    height: 10vh;
    width: 80vw;
    align-content: stretch;
}

/*** Input ***/
.numberInput {
    display: flex;
    height: 8vh;
    width: 75vw;
    border: none;
    background-color: #FFFFFF;
    text-align: center;
    letter-spacing: 1rem;
    font-size: 5vw;
    color: #223944;
}
/*** /Input ***/

/*** Error-styling ***/
.errorSymbol{
    max-height: 2rem;
    max-width: 2rem;
    padding-right: 1rem;
}
.errorCon{
    grid-area: downMiddle;
}
.error{
    color: #DF4807;
    font-size: 0.6rem;
    z-index: 1;

}
/*** /Error-styling ***/

/*** Patient-Number-Forgotten ***/
.forgotButton{
    margin-top: 1rem;
    border: none;
    background-color: #F5F4F3;
    font-size: 0.6rem;
    text-decoration: underline;
}
/*** /Patient-Number-Forgotten ***/

/************************ /Input-Field ***********************/

/************************ /Middle-Content ***********************/



/************************ Buttons ***********************/
.buttonCon{
    grid-area: downMiddle;
    padding-top: 2.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

/*** QR-Code-Visibility ***/
.qrvisible{
    visibility: visible;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #FFFFFF;
    transform: scaley(-1);
    z-index: 1;
}
.qrhidden{
    visibility: hidden;
}
/*** /QR-Code-Visibility ***/

/*** Active-Orange-Button ***/
.activeButtonvisible{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    z-index: 1;
    visibility: visible;
}
.activeButtonhidden{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    z-index: 1;
    visibility: hidden;
}
/*** /Active-Orange-Button ***/

/*** Inactive-Grey-Button ***/
.inActiveButtonvisible{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    opacity: 35%;
    visibility: visible;
}
.inActiveButtonhidden{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    padding-left: 0.5rem;
    transform: scaley(-1);
    opacity: 35%;
    visibility: hidden;
}
/*** /Inactive-Grey-Button ***/

/*** Button-Background ***/
.buttonBg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 10rem 10rem 10rem 10rem;
    box-shadow: 2px 2px 0 2px #223944;
}
/*** /Button-Background ***/

/*** Button-Availability ***/
.buttonAvailabilityAvailable{
    position: absolute;
    z-index: 2;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem 10rem 10rem 10rem;
    opacity: 0;
}
.buttonAvailabilityUnavailable{
    position: absolute;
    z-index: 2;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem 10rem 10rem 10rem;
    opacity: 0;
    visibility: hidden;
}
/*** /Button-Availability ***/
/************************ /Buttons ***********************/